force-app/main/default/flows/Account_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>contactList</name>
        <label>contactList</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>listOfContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assign</name>
        <label>Value Assign</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Contact_Loop.Detail1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChangeRating</name>
        <label>ChangeRating</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangeRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactRecords</targetReference>
            </connector>
            <label>Check Rating</label>
        </rules>
    </decisions>
    <description>Account insert and update then Contact record update automatically.</description>
    <formulas>
        <name>isChangeRating</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Rating})</expression>
    </formulas>
    <interviewLabel>Account Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Record-Triggered Flow</label>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GetContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Value_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactRecords</name>
        <label>GetContactRecords</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactRecords</name>
        <label>UpdateContactRecords</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>listOfContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChangeRating</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listOfContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
