force-app/main/default/flows/Update_Contact_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Value</name>
        <label>Assign Contact Value</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Loop_for_Contact.Dead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Need_Intel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Of_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Of_Contact</name>
        <label>List Of Contact</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Loop_for_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Loop_for_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Condition</name>
        <label>Check Condition</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Field_Need_Intel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changeValueNeedIntel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Child_Records</targetReference>
            </connector>
            <label>Check Field Need Intel</label>
        </rules>
    </decisions>
    <description>Account Records Create and Update then Contact Records Update</description>
    <formulas>
        <name>changeValueNeedIntel</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Need_Intel__c})</expression>
    </formulas>
    <interviewLabel>Update Contact Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact Records</label>
    <loops>
        <name>Iterate_Loop_for_Contact</name>
        <label>Iterate Loop for Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Child_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Child_Records</name>
        <label>Get All Child Records</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Loop_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <inputReference>contactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Condition</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
